<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879108078971-69jbujn11s3plrug1bvm6o3il1cpgl1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879108078971-69jbujn11s3plrug1bvm6o3il1cpgl1p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>879108078971-aqsvlocnbm9mp2q12f2funpcgvpc0ir6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDm4l960LWqH-fGScK5jWSf-tNBkVH3hZs</string>
	<key>GCM_SENDER_ID</key>
	<string>879108078971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Scanner</string>
	<key>PROJECT_ID</key>
	<string>rideshare-d0efa</string>
	<key>STORAGE_BUCKET</key>
	<string>rideshare-d0efa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879108078971:ios:376c605f1450e032ea91de</string>
</dict>
</plist>